#outer {
  height: 200px;
  width: 200px;
  background-color: green;
}

.inner {
  height: 50%;
  width: 50%;
  background-color: yellow;
}

.red {
  /* height: 50%; */
  /* width: 50%; */
  background-color: red;
}
